@font-face {
    font-family: 'caslon_old_faceregular';
    src: url('../fonts/caslon_old_face_regular-webfont.woff2') format('woff2'),
         url('../fonts/caslon_old_face_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caslon_old_face_italic';
    src: url('../fonts/caslon_old_face_italic-webfont.woff2') format('woff2'),
         url('../fonts/caslon_old_face_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'p22_operina_fiore_fiore';
    src: url("../fonts/p22_operina_fiore_fiore-webfont.woff2") format('woff2'),
         url("../fonts/p22_operina_fiore_fiore-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dk_magical_brush';
    src: url("../fonts/dk_magical_brush-webfont.woff2") format('woff2'),
         url("../fonts/dk_magical_brush-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}


/* NAVBAR */
.navbar {

position: fixed;
color:black!important;
text-transform: uppercase;
font-size: 8px;
margin-bottom: 20px;
height: 66px;
z-index: 2;
font-family: 'caslon_old_faceregular';
font-style: bold;
background-color: #53575c;
border: 5px solid white;
text-decoration: none;
}
/* Rende la navbar orizzontale */
.navbar ul {
margin: 1;
padding: 0;
display: flex;
list-style: none;
align-items: center;
clear: left;
}

/* Tutti gli elementi in navbar */
.navbar li {
position: relative;
display: flex;
justify-content: space-between;
font-size: 20px;
white-space: nowrap;
text-align:center !important;
margin-right: 20px;
margin-left: 30px;
margin-bottom: 0px;
padding: 0px;
color:white;

text-decoration: none;
}

.navbar li a {
color: white;
text-decoration: none;
font-size: 20px;
}

.navbar li:hover{
color:   #b8bbbf!important;
}

.navbar li a:hover{
color:   #b8bbbf !important;
text-decoration:none;
}


/* Dropdown */
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 12px;
  top: calc(100% + 30px);
  margin: 5px;
  padding: 0px 0;
  z-index: 99;
  opacity: 5;
  visibility: hidden;
  background: rgba(0000)
  box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
  transition: 0.2s;
    background-color: #53575c;
    text-decoration: none;

  }


/* Elementi che stanno del dropdown */
.navbar .dropdown ul li{
padding: 8px;
font-size: 22px;
color:white;
margin: 5px;
text-decoration: none;
}

.navbar .dropdown:hover > ul {
opacity: 1;
top: 100%;
visibility: visible;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul a {
  padding: 0px;
  color: white;
  text-transform: uppercase;
  margin-top: 5px;
}
.icons {
  width: 30px;
  height: 30px;
}

.icons_nav {
  margin-left: 280px!important;
  margin-top: 7px!important;
}



/*Fine navbar*/

html {
    font-family: 'bodoni';
  font-size: 10px;
  box-sizing: border-box;
}

/*Section used for centering process*/
section {
  width: 100%;
  height: 80vh;
 background-color: #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'caslon_old_faceregular';
  font-size: 25px;
  margin-top: 0px;
  color: black;
   overflow-y:auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



section::-webkit-scrollbar {
  display: none;
}

.icons {
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}




.btn-10{
  font-family: p22_operina_fiore_fiore;
    background-color: transparent;
    border: 3px solid  grey;
    color: #grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    text-transform: lowercase;


    margin-top: 20px;
}

.btn-10:hover {
  font-family: p22_operina_fiore_fiore;
    background-color: grey;
    border: 3px solid  grey;
    color: #E9E9E9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

  }
.marquee-section {
    position: relative;
    min-height:   100px;
    font-size: 80px;
    font-family: 'bodoni', serif;
    color:black;
    background-color: white

}

.marquee-section, .marquee-section * {
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
}

.marquee-div {
    position: absolute;
    animation: move-left-to-right linear 50s infinite;


}

/* use this one to move from left to right direction */
@keyframes move-left-to-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

footer{
  color:black!important;
  background-color: white;
   margin-top: 10px ;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
  font-family: 'caslon_old_faceregular';
  text-transform: uppercase;
  font-size: 20px;
}
#magazine2{
 background-color: #E9E9E9;
height: 370px;
padding-top: 4%;
padding-left: 6%;
padding-right: 6%;
padding-bottom: 2%;
  color:black;
  font-family: 'p22_operina_fiore_fiore';
    font-size: 25px;
    text-align: justify;
    margin-top: -22px;

}
.btn_stili {
 background-color: #E9E9E9;
height: 100px;
 background-color: #E9E9E9;

text-align: center;
}


---da copiare in git---
.container{
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.5rem;

    font-family: bodoni;
    font-size: 22px;
}


/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.style_title {
  text-decoration: ;
}

.icons {
  width: 30px;
  height: 30px;
}

.icons_nav {
  margin-left: 295px;
  margin-top: 7px;
}
#myModal {
  font-family:'nimbus';

        color:lightgrey;

}

.modal-header {

     color:lightgrey;
     font-family: 'caslon_old_faceregular';
     font-style: bold;
     background-color: #53575c;
}

.modal-footer {
    background-color:#E9E9E9;
     color:lightgrey;



}



.modal-footer .btn{
  background-color: transparent;
border: none;
color:black;
text-transform: uppercase;

}

.modal-footer .btn:hover{
   background-color: #53575c;
  color:lightgrey;
  font-family: 'caslon_old_faceregular';

}
.modal-header .firstbtn{
   background-color: transparent;
border: none;
 color:lightgrey;
 font-size: 32px;

 }
.p-4{
       background-color:#E9E9E9!important;
       color: black;
       font-size: 20px;
         font-family: 'caslon_old_faceregular';


}


.imgs_docs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 55vh;
}

.modal-title {
 font-size: 32px;
 text-transform: uppercase;
}

footer{
  color:black!important;
  background-color: #E9E9E9;
  margin-top: 20px;
  font-family: 'caslon_old_faceregular';
  text-transform: uppercase;
  margin-bottom: 20px;

}
body{
background-color: transparent!important;
  overflow-x: hidden;
    background-image: url('../imgs/backremoved.png');
}

p a {
text-decoration: underline!important;
font-weight: bold!important;
}

p {
  line-height: normal;
}
.titles {
  font-family: 'p22_operina_fiore_fiore';
}

.icons {
  width: 30px;
  height: 30px;
}

.icons_nav {
  margin-left: 295px;
  margin-top: 7px;
}



@media only screen and (max-width: 1300px) {

  .icons {
    width: 30px;
    height: 30px;

  }

  .icons_nav {
    margin-left: 210px!important;
    margin-top: 7px!important;

  } }
