


/* NAVBAR */
.navbar {
    font-family: 'Times New Roman', serif;
    background-color: rgb(250, 247, 230);
    position: fixed;
    color:black!important;
    text-transform: uppercase;
    font-size: 8px;
    margin-bottom: 20px;
    height: 60px;
    border-bottom: solid;
    border-bottom-color: #73895a;

}
/* Rende la navbar orizzontale */
.navbar ul {
    margin: 1;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    clear: left;
}

.icons {
  cursor: pointer;
}

/* Tutti gli elementi in navbar */
.navbar li {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    white-space: nowrap;
    text-align:center !important;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 0px;
    color:black;
    text-align: left;
}

.navbar li a {
    color:black;
    text-decoration: none;
}

/* Dropdown */
.navbar .dropdown ul {
    display: block;
    position: absolute;
    padding: 10px 0;
    visibility: hidden;
    background: #fff;
    z-index: 1;
    border-style: solid;
    border-color: #73895a;
    border-width: thin;
    border-radius: 25px;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul li{
    padding: 10px;
    font-size: 20px;
    color: black;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}


/*Fine navbar*/

.icons {
    width: 30px;
    height: 30px;
}

.icons_nav {
    margin-left: 295px;
    margin-top: 7px;
}

p {
    font-family: "Times New Roman", Times, serif !important;
    color: black !important;
}





html {
    font-family: 'bodoni';
    font-size: 10px;
    box-sizing: border-box;
}

/*Section used for centering process*/
section {
    width: 100%;
    height: 80vh;
    background-color: rgb(250, 247, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'bodoni';
    color: black;
    font-size: 25px;
    margin-top: 0px;
    text-align: justify;
  overflow-y:auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



section::-webkit-scrollbar {
  display: none;
}


.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}





.btn-10 {
    background-color: transparent;
    border-style: solid;
    border-color: #73895a;
    color: #73895a;
    border-width: thin;
    border-radius: 25px;
    padding: 15px 32px;
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Times New Roman";
}


.btn-10:hover {
    background-color: transparent;
    border-style: solid;
    border-color: #73895a;
    color: #73895a;
    border-width: thin;
    border-radius: 25px;
    padding: 15px 32px;
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.marquee-section {
    position: relative;
    min-height: 100px;
    font-size: 80px;
    background-color: transparent;
    text-transform: uppercase;
    color: #73895a;
    border-width: thin;
    border-radius: 25px;
    font-family: "Times New Roman";
}

.marquee-section, .marquee-section * {
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
}

.marquee-div {
    position: absolute;
    animation: move-left-to-right linear 50s infinite !important;
}


@keyframes move-left-to-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

footer{
    color:black!important;
    background-color: white;
      margin-top: 10px ;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: nimbus;
    text-transform: uppercase;
    height:8vh;
    font-size: 20px;
}


#magazine2{
    background-color:#73895a;
    height: 500px;
    margin-top: 10px;
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
    color:black;
    font-family: 'Times New Roman';
    font-size: 25px;
    text-align: justify;


}
.btn_stili {
    height: 100px;
    background-color: rgb(250, 247, 230) !important;
    text-align: center;
}



.modal-header {
    background-color: rgb(250, 247, 230) !important;
    color:black;
}

.modal-footer {
    background-color: rgb(250, 247, 230) !important;
    color:black;
}

.p-4{
    background-color: rgb(250, 247, 230) !important;

    color: black;
    font-size: 18px;

}

.modal-footer .btn{
    background-color: transparent;
    border-style: solid;
    border-color: #73895a;
    color: #73895a;
    border-width: thin;
    border-radius: 25px;

}




---da copiare in git---
.container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1.5rem;

    font-family: bodoni;
    font-size: 22px;
}



/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: red;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.icons {
    width: 30px;
    height: 30px;
}

.icons_nav {
    margin-left: 295px;
    margin-top: 7px;
}

.imgs_docs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 55vh;
}

@media only screen and (max-width: 1300px) {

  .icons {
    width: 30px;
    height: 30px;

  }

  .icons_nav {
    margin-left: 210px!important;
    margin-top: 7px!important;

  }

     }
