
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
  font-family:Golddrew;
  src:url("../fonts/Golddrew.ttf");
}

@font-face{
  font-family:Franklin;
  src:url("../fonts/BenjaminFranklin.ttf");
}

@font-face{
  font-family:Romantine;
  src:url("../fonts/Romantine.ttf");
}

    /* NAVBAR */
.navbar {
  font-family: 'Bebas Neue';
  background-image: url(../imgs/old_paper.jpg);
  position: fixed;
  text-transform: uppercase;
  font-size: 8px;
}
/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1px;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  clear: left;
}

/* Tutti gli elementi in navbar */
.navbar li {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  white-space: nowrap;
  text-align:center !important;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 0px;
  padding: 0;
  color:#9f281f;
}

.navbar li a {
   color: #9f281f;
}

.navbar li:hover{
  color:  #9fa4c4 !important;
}

.navbar li a:hover{
  color:  #9fa4c4 !important;
  text-decoration:none;

}


/* Dropdown */
.navbar .dropdown ul {
  display: block;
  position: absolute;
  padding: 5px 0;
  visibility: hidden;
  background: #fff;

}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul li{
  padding: 10px;
  font-size: 20px;


}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;

}


/*Fine navbar*/
.icons {
  cursor: pointer;
}
html {
  box-sizing: border-box;
}

/*Section used for centering process*/
section {
  width: 100%;
  height: 80vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue';
  font-size: 25px;
  margin-top: 0px;
   overflow-x:hidden;
   text-align: justify;
  overflow-y:auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.titles{
  color: rgb(211, 104, 65);
  font-size: 30px;
}

section::-webkit-scrollbar {
  display: none;
}



.container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  color:rgb(191, 164, 4);
}




.btn-10{
 font-family: 'Golddrew', cursive;
  background-color: transparent;
   border: 3px solid  rgb(0, 53, 102);
  color: rgb(0, 53, 102);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-10:hover {
  font-family: Golddrew, cursive;
    background-color: rgb(211, 104, 65);
    border: 3px solid  rgb(228, 217, 201);
    color: rgb(228, 217, 201);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
  }
.marquee-section {
    position: relative;
    min-height:   100px;
    font-size: 80px;
    background-color: black;
    color: rgb(228, 217, 201);
    font-family: 'Franklin';
    background-color: rgb(211, 104, 65);


}

.marquee-section, .marquee-section * {
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
}

.marquee-div {
    position: absolute;
    animation: move-left-to-right linear 50s infinite;


}

/* use this one to move from left to right direction */
@keyframes move-left-to-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


footer {
  background-image:url(../imgs/old_paper.jpg);
  font-family: Golddrew, cursive;
  color: rgb(0, 53, 102);
    margin-top: 10px ;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

#magazine2 {
color: rgb(228, 217, 201);
font-family: 'Franklin';
background-color: rgb(211, 104, 65);
height: 450px;
padding-top: 4%;
padding-left: 6%;
padding-right: 6%;
padding-bottom: 2%;
    font-size: 25px;
    text-align: justify;

}
.btn_stili {
  height: 100px;
  background-image: url(../imgs/old_paper.jpg);
  text-align: center;
}


---da copiare in git---
.container{
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.5rem;

    font-family: bodoni;
    font-size: 22px;
}


/* unvisited link */
p a {
  text-decoration: underline!important;
  color: rgb(191, 164, 4)!important;
}

/* visited link */
p a:visited {
  text-decoration: underline;
}

/* mouse over link */
p a:hover {
  color: #E4D9C5;
}


.style_title {
  font-size: 40px;
}

.icons {
  width: 30px;
  height: 30px;
}

.icons_nav {
  margin-left: 295px;
  margin-top: 7px;
}


 #myModal {
       font-family: 'Franklin';

         color:lightgrey;

 }

 .modal-header {
  background-color: rgb(211, 104, 65)!important;
      color:lightgrey;
      font-family: 'Franklin'!important;
 }

 .modal-footer {
     background-color:white;
          color: rgb(0, 53, 102);
          background-image: url(../imgs/old_paper.jpg);



 }



.modal-footer .btn{
   background-color: transparent;
border: none;
  font-family: 'Golddrew', cursive;

  color: rgb(0, 53, 102);
 text-transform: uppercase;

 }

.modal-footer .btn:hover{
   background-color: rgb(211, 104, 65);
   color:lightgrey;

}
 .modal-header .firstbtn{
    background-color: transparent;
 border: none;
  color:lightgrey;
  font-size: 32px;

  }
.p-4{
        background-color:white!important;
            background-image: url(../imgs/old_paper.jpg);
    color: rgb(0, 53, 102);
        font-size: 18px;
        font-family: 'Golddrew', cursive;


 }

.modal-title {
  font-size: 32px;
  text-transform: uppercase;
}




.icons {
  width: 30px;
  height: 30px;
}

.icons_nav {
  margin-left: 350px!important;
  margin-top: 7px!important;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
    color: rgb(0, 53, 102);
}

.imgs_docs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 55vh;
}
@media only screen and (max-width: 1300px) {

  .icons {
    width: 30px;
    height: 30px;

  }

  .icons_nav {
    margin-left: 250px!important;
    margin-top: 7px!important;

  }

    .imgs_docs {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 55vh;
    } }
