@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@font-face{
  font-family: "Metropolis-ExtraBoldItalic";
  src:url("../fonts/Metropolis-ExtraBoldItalic.otf");
}
@font-face{
  font-family:"futura";
  src:url("../fonts/Futura Condensed Bold.otf");
}

.icons {
  cursor: pointer;
}

   /* NAVBAR */
.navbar {
  font-family: 'Metropolis-ExtraBoldItalic';
  background-color: rgb(183,64,59);
  position: fixed;
  color:white!important;
  text-transform: uppercase;
  font-size: 8px;
}
/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1px;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  clear: left;
}

/* Tutti gli elementi in navbar */
.navbar li {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  white-space: nowrap;
  text-align:center !important;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 0px;
  padding: 0;
  color:white;
}

.navbar li a {
   color:white;
}

.navbar li:hover{
  color:  #9fa4c4 !important;
}

.navbar li a:hover{
  color:  #9fa4c4 !important;
  text-decoration:none;

}


/* Dropdown */
.navbar .dropdown ul {
  display: block;
  position: absolute;
  padding: 5px 0;
  visibility: hidden;
  background: #fff;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul li{
  padding: 10px;
  font-size: 20px;
  color:black!important;
}

.navbar .dropdown ul li a{
  color:black!important;
  }

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;

}


.icons {
  width: 30px;
  height: 30px;
}

.icons_nav {
  margin-left: 295px!important;
  margin-top: 7px!important;
}


/*Fine navbar*/

html {
  font-size: 10px;
  box-sizing: border-box;
}

/*Section used for centering process*/
section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Futura';
  background-color:black;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 0px;
overflow-y:auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



section::-webkit-scrollbar {
  display: none;
}


.container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}


.btn-10{
  font-family: "Metropolis-ExtraBoldItalic";
  background-color: rgb(183,64,59);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-10:hover {
  font-family: "Metropolis-ExtraBoldItalic";
    background-color: white;
    border: none;
    color:rgb(183,64,59);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
  }

.marquee-section {
    position: relative;
    min-height: 100px;
    font-size: 80px;
    font-family: 'Metropolis-ExtraBoldItalic', serif;
    color:white;
    background-color: rgb(183,64,59);
}

.marquee-section, .marquee-section * {
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
}

.marquee-div {
    position: absolute;
    animation: move-left-to-right linear 50s infinite;


}

/* use this one to move from left to right direction */
@keyframes move-left-to-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

footer{
  color:black!important;
  background-color: white;
  font-family: 'Metropolis-ExtraBoldItalic';
  text-transform: uppercase;
  font-size: 20px;
   margin-top: 10px ;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}


#magazine2{
  background-color:black;
height: 450px;
padding-top: 4%;
padding-left: 6%;
padding-right: 6%;
padding-bottom: 2%;
  color:white;
    font-family: 'Futura';
    text-transform: uppercase;
    font-size: 25px;
    text-align: justify;

}

.btn_stili {
  background-color:white;
  height: 100px;
  text-align: center;
}


---da copiare in git---
.container{
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  font-family: bodoni;
  font-size: 22px;
}




.titles{
  font-family: 'Metropolis-ExtraBoldItalic'!important;
  color:rgb(183,64,59);
}

/* unvisited link */
p a {
  text-decoration: underline!important;
  color: white!important;
}

/* visited link */
p a:visited {
  text-decoration: underline;
}

/* mouse over link */
p a:hover {
  color: rgb(183,64,59)!important;
}

.style_title {
  text-decoration: ;
}

.icons {
  width: 30px;
  height: 30px;
}

.icons_nav {
  margin-left: 295px;
  margin-top: 7px;
}

#myModal {
   font-family: 'Metropolis-ExtraBoldItalic', serif;


}

.modal-header {
  font-family: 'Metropolis-ExtraBoldItalic', serif;
    background-color: rgb(183,64,59);
     color:white;
}

.modal-footer {
    background-color:white;
     color:black;
     font-family: 'Metropolis-ExtraBoldItalic'

}



.modal-footer .btn{
  background-color: transparent;
border: none;
color:black;
text-transform: uppercase;

}

.modal-footer .btn:hover{
  background-color: rgb(183,64,59);
  color:white;

}
.modal-header .firstbtn{
   background-color: transparent;
border: none;
 color:lightgrey;
 font-size: 32px;

 }
.p-4{
       background-color:white!important;
       font-family: 'Metropolis-ExtraBoldItalic';
text-transform: uppercase;
       color: black;
       font-size: 18px;


}

.modal-title {
 font-size: 32px;
 text-transform: uppercase;
}


.imgs_docs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 55vh;
}

@media only screen and (max-width: 1300px) {

  .icons {
    width: 30px;
    height: 30px;

  }

  .icons_nav {
    margin-left: 210px!important;
    margin-top: 7px!important;

  }


    .imgs_docs {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 55vh;
    } }
