@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&display=swap');


@font-face {
    font-family: 'caslon_old_faceregular';
    src: url('../fonts/caslon_old_face_regular-webfont.woff2') format('woff2'),
         url('../fonts/caslon_old_face_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caslon_old_face_italic';
    src: url('../fonts/caslon_old_face_italic-webfont.woff2') format('woff2'),
         url('../fonts/caslon_old_face_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'p22_operina_fiore_fiore';
    src: url("../fonts/p22_operina_fiore_fiore-webfont.woff2") format('woff2'),
         url("../fonts/p22_operina_fiore_fiore-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dk_magical_brush';
    src: url("../fonts/dk_magical_brush-webfont.woff2") format('woff2'),
         url("../fonts/dk_magical_brush-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

    /* NAVBAR */
    .navbar {

    position: fixed;
    color:black!important;
    text-transform: uppercase;
    font-size: 8px;
    margin-bottom: 20px;
    height: 66px;
    z-index: 2;
    font-family: 'caslon_old_faceregular';
    font-style: bold;
    background-color: #53575c;
    border: 5px solid white;
    text-decoration: none;
    }
    /* Rende la navbar orizzontale */
    .navbar ul {
    margin: 1;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    clear: left;
    }

    /* Tutti gli elementi in navbar */
    .navbar li {
    position: relative;
    display: flex;
    justify-content: -between;
    font-size: 20px;
    white-space: nowrap;
    text-align:center !important;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 0px;
    color:white;
    text-decoration: none;
    }

    .navbar li a {
    color: white;
    text-decoration: none;
    }

    .navbar li:hover{
    color:   #b8bbbf!important;
    }

    .navbar li a:hover{
    color:   #b8bbbf !important;
    text-decoration:none;
    }


    /* Dropdown */
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 12px;
      top: calc(100% + 30px);
      margin: 5px;
      padding: 0px 0;
      z-index: 99;
      opacity: 5;
      visibility: hidden;
      background: rgba(0000)
      box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
      transition: 0.2s;
        background-color: #53575c;
        text-decoration: none;
      }


    /* Elementi che stanno del dropdown */
    .navbar .dropdown ul li{
    padding: 8px;
    font-size: 22px;

    margin: 5px;
    text-decoration: none;
    }

    .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    }

    /* Elementi che stanno del dropdown */
    .navbar .dropdown ul a {
      padding: 0px;
      font-size: 16px;
      color: white;
      text-transform: uppercase;
        margin-top: 5px;
    }

/*Fine navbar*/

html{
    background-image: url('../imgs/backremoved.png');
}

body{
background-color: transparent!important;
  overflow-x: hidden;
    background-image: url('../imgs/backremoved.png');
}


#magazine{
  background-color: #fc4434;
height: 600px;

  color: lightgrey;
  font-family: 'caslon_old_faceregular';
    font-size: 25px;
    z-index: 100;
    position: relative;
    padding: 5vh;
    padding-right: 40%;
    text-align: justify;
    background-size: cover;

    margin: 0;
    margin-top: -57px;

}

.icons {
  cursor: pointer;
}
.text{
  color:black;
font-family: 'p22_operina_fiore_fiore';
    font-size: 25px;

    z-index: 100;

    text-align: justify;
margin-top: 9px;
margin-left: -54vh;
margin-right: 3vh;

}

.colspotify{
  color:black;
  font-family: 'caslon_old_faceregular';
    font-size: 25px;

    z-index: 100;

    text-align: justify;
    margin-left: 12vh;
    margin-right: 12vh;
font-weight: bold;

}

.wrapper {
  display: grid;
    grid-template-columns: 65% 32% ;

       background-color: white;
  height: 500px;


}

.wrapper_mag {
  display: grid;
    grid-template-columns: 65% 32% ;
       background-color: white;
  height: 500px;
margin-top: -30px;
font-weight: bold;

}

.coltext {
  color:black;
font-family: 'caslon_old_faceregular';
    font-size: 25px;

background-color: white;
    z-index: 100;

    text-align: justify;
margin-top: 60px;
margin-left: 10vh;
margin-right: 28vh;
font-weight: bold;
line-height: 85%;



}

.colimg {
  color:black;

    font-size: 25px;
    z-index: 100;
    text-align: justify;
    margin-top: 49px;
    margin-left: -29vh;
    z-index: 0;
    background-color: white;
    font-weight: bold;

}

.col_button {
    color:black;
font-family: 'p22_operina_fiore_fiore';
    font-size: 25px;
    z-index: 100;
    text-align: justify;
    margin-left: 26vh;
    margin-right: 12vh;
    font-weight: bold;

}

.col_issue {

    color: black;
  font-family: 'caslon_old_faceregular';
    font-size: 25px;
    z-index: 100;
    text-align: justify;
    margin-top: -470px;
    margin-left:95vh;
    margin-right: -61vh;
    font-weight: bold;
    line-height: 85%;



}

.wrapper_issue {
  display: grid;
  grid-template-columns: 65% 32% ;
     background-color: white;
  height: 795px;
  margin-left: -32px;
  font-weight: bold;

}


.col_button_us {
  color:  #black;
font-family: 'caslon_old_faceregular';
    font-size: 102px;
    z-index: 100;
    text-align: justify;
    margin-top: -19px;
  margin-left: 9vh;
    font-weight: bold;
  }

.col_us {

    color:  black;
  font-family: 'caslon_old_faceregular';
    font-size: 25px;
    z-index: 100;
    text-align: justify;
    margin-top: -104px;
    margin-left: 95vh;
    margin-right: -61vh;
    line-height: 85%;
    font-weight: bold;



}

.issue {
  line-height: 85%!important;
}

.wrapper_us{
  display: grid;
    grid-template-columns: 65% 32% ;
       background-color:white;
  height: 650px;
  margin-left: -32px;
}



.col_img_yet {
  color:black;
  font-family: 'caslon_old_faceregular';
    font-size: 25px;
    z-index: 100;
    text-align: justify;
    margin-top: .1px;
    margin-left: 30px;
    z-index: 0;
    font-weight: bold;
  }
}


.issue {

  font-weight: bold;


}
.col_text_yet {

  color: black;
font-family: 'caslon_old_faceregular';
  font-size: 25px;
  z-index: 100;
  text-align: justify;
  margin-top: -370px;
  margin-left: 89vh;
  margin-right: -61vh;
  line-height: 85%;

}

.wrapper_yet{
  display: grid;
    grid-template-columns: 65% 32% ;
     background-color: white;
  height: 500px;
  margin-left: -32px;

}

#us {
font-family: 'caslon_old_faceregular';
  font-size: 50px;
  margin-bottom: 20px;
}

.us_title {

      color:  black;
      font-family: 'caslon_old_faceregular';
      font-weight: bold;

}


.marquee-section {
    position: relative;
    min-height:   100px;
    font-size: 80px;
    font-family: 'bodoni', serif;
    color:black;
    background-color: white;
    display: none;

}

.marquee-section, .marquee-section * {
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
}

.marquee-div {
    position: absolute;
    animation: move-left-to-right linear 50s infinite;


}

/* use this one to move from left to right direction */
@keyframes move-left-to-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}



{
  box-sizing: border-box;
}




.cont {

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 14px;
  margin-top: -27px;
  margin-bottom: 14px;
    font-family: 'caslon_old_face_italic'!important;

}



footer{
  color:black!important;
  background-color: white;
  margin-top: 52px;
  font-family: 'caslon_old_face_italic'!important;


}

.issue_title {
  font-family: caslon_old_face_italic;
  font-size: 30px;
}


.btn-10{
font-family: p22_operina_fiore_fiore;
  background-color: transparent;
  border: 3px solid  grey;
  color: #grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  text-transform: lowercase;
  text-transform: none;

  margin-top: 20px;
}

#block1 {
  margin-right: -228px;
margin-top: -35px;
margin-left: -31px;
}


.btn-10:hover {
  font-family: p22_operina_fiore_fiore;
    background-color: grey;
    border: 3px solid  grey;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;


  }

span {
  font-family: caslon_old_face_italic;
}
.slide_us {
  font-family: caslon_old_face_italic;
}

a:active {
  color:black;
}
a:visited {
  color: black;
}
  *,
   *:before,
   *:after {
     box-sizing: border-box;
   }

   body {
     background: lightgrey;
   }





   .container{
     width: 100%;
     max-width: 100rem;
     margin: 0 auto;
     padding: 0 1.5rem;


       font-size: 25px;
   }



   section {
     width: 100%;
     height: 140vh;
   background-color:#0c2414;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'bodoni';
     font-size: 25px;
     margin-top: 0px;
     align-items: center;
     text-align: justify;
       color:  lightgrey;
   }



div.col-6 {

    width: 48%;
    font-size: 20px;
    font-family: 'caslon_old_faceregular'!important;
  }



 .wrapper_us a, a:hover, a:focus, a:active {
      text-decoration: none
      ;

 }


  .slide_us a, a:hover, a:focus, a:active {
       text-decoration: none
       ;
       color: black!important;

  }

 #myModal {
   font-family:'caslon_old_faceregular';

         color:lightgrey;

 }

 .modal-header {

      color:lightgrey;
      font-family: 'caslon_old_faceregular';
      font-style: bold;
      background-color: #53575c;
 }

 .modal-footer {
     background-color:white;
      color:lightgrey;



 }



.modal-footer .btn{
   background-color: transparent;
border: none;
 color:black;
 text-transform: uppercase;

 }

.modal-footer .btn:hover{
    background-color: #53575c;
   color:lightgrey;
   font-family: 'caslon_old_faceregular';

}
 .modal-header .firstbtn{
    background-color: transparent;
 border: none;
  color:lightgrey;
  font-size: 32px;

  }
.p-4{
        background-color:white!important;
        color: black;
        font-size: 20px;
          font-family: 'caslon_old_faceregular';


 }

.modal-title {
  font-size: 32px;
  text-transform: uppercase;
}




.icons {
  width: 30px;
  height: 30px;
}

.icons_nav {
  margin-left: 295px!important;
  margin-top: 7px!important;
}

.slide_us{
  font-family: 'caslon_old_face_italic';
  color: black;
}

@media only screen and (max-width: 1300px) {

  .icons {
    width: 30px;
    height: 30px;

  }

  .icons_nav {
    margin-left: 210px!important;
    margin-top: 7px!important;

  }
}
